html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, fieldset, form, label, legend,
table, caption, details,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/* ## Fonts

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 600, 700 */
@font-face {
  font-family: 'barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfp66_B2sl.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfw6-_B2sl.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.circle-point {
  position: relative;
}

.circle-point div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e2e2e2;
}

.circle-point div::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 48%;
  height: 48%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
}

.circle-point div:hover::after {
  width: 54%;
  height: 54%;
}

.circle-point-paper {
  -webkit-box-shadow: 0 0 0 15px #5671f6, 0px 10px 0 10px #2845bd;
          box-shadow: 0 0 0 15px #5671f6, 0px 10px 0 10px #2845bd;
}

.circle-point-paper::after {
  background-image: url(./images/icon-paper.svg);
}

.circle-point-scissors {
  -webkit-box-shadow: 0 0 0 15px #eba72a, 0px 10px 0 10px #c76c1b;
          box-shadow: 0 0 0 15px #eba72a, 0px 10px 0 10px #c76c1b;
}

.circle-point-scissors::after {
  background-image: url(./images/icon-scissors.svg);
}

.circle-point-rock {
  -webkit-box-shadow: 0 0 0 15px #df405e, 0px 10px 0 10px #a11738;
          box-shadow: 0 0 0 15px #df405e, 0px 10px 0 10px #a11738;
}

.circle-point-rock::after {
  background-image: url(./images/icon-rock.svg);
}

@media screen and (min-width: 1366px) {
  .circle-point div {
    width: 135px;
    height: 135px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  height: 100vh;
  font-weight: 700;
  background: radial-gradient(ellipse at top, #1f3756, #141539);
  font-family: barlow;
  overflow: hidden;
  color: #fdfdfd;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body .displayOff {
  display: none;
}

body .displayGrid {
  display: -ms-grid;
  display: grid;
}

body .displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .displayInBlock {
  display: inline-block;
}

.info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 470px;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid #606e85;
}

.info-bar .info-bar__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 23px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fdfdfd;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.247);
}

.info-bar .info-bar__score span.text {
  font-weight: 600;
  font-size: 0.65em;
  letter-spacing: 1px;
  color: #2a46c0;
}

.info-bar .info-bar__score span.score-number {
  font-size: 2.2em;
  line-height: 90%;
  color: #3b4363;
}

.info-bar .info-bar__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  line-height: 80%;
  text-shadow: 5px 6px 2px rgba(8, 8, 8, 0.377);
}

.step1-circles {
  width: 100%;
  max-width: 310px;
  height: 100%;
  max-height: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 210px;
  background-image: url(./images/bg-triangle.svg);
}

.step1-circles .circle-point:last-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.step1-circles .circle-point1 {
  top: 15px;
  left: 15px;
}

.step1-circles .circle-point2 {
  top: 15px;
  right: 15px;
}

.step1-circles .circle-point3 {
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.step2-circles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 157.5px 0px 157px;
      grid-template-columns: 157.5px 0px 157px;
  row-gap: 25px;
}

.step2-circles .circle-point {
  height: 145px;
}

.step2-circles .circle-point div {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.step2-circles span.def-text {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px #181818;
}

.result-container {
  position: relative;
}

.result-container .result-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container .result-text span {
  font-size: 3.5em;
  letter-spacing: 3px;
}

.result-container .result-text button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  border: 3px solid transparent;
  border-radius: 8px;
  letter-spacing: 2px;
  color: #3b4363;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  cursor: pointer;
}

.result-container .result-text button:hover {
  border: 3px solid #eba72a;
}

button.rules {
  width: 120px;
  height: 40px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #878ba6;
  color: #fdfdfd;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

button.rules:hover {
  border: 2px solid #a1a1a3;
  background-color: rgba(255, 255, 255, 0.774);
  color: #1f3756;
}

.rules-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.rules-cont span {
  font-size: 1.9em;
  color: #3b4363;
}

.rules-cont img.rules-cont-img {
  width: 300px;
}

.rules-cont img.rules-cont-close {
  width: 20px;
  cursor: pointer;
}

.rules-cont img.rules-cont-close:hover {
  -webkit-filter: contrast(4);
          filter: contrast(4);
}

@media screen and (min-width: 1366px) {
  .info-bar {
    padding: 20px;
  }
  .info-bar .info-bar__score {
    padding: 16px 28px;
  }
  .info-bar .info-bar__score span.text {
    font-size: 0.8em;
  }
  .info-bar .info-bar__score span.score-number {
    font-size: 2.4em;
  }
  .info-bar .info-bar__text {
    font-size: 1.7em;
  }
  .step1-circles {
    max-width: 400px;
    max-height: 400px;
    gap: 30px;
    background-size: 270px;
  }
  .step2-circles {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -ms-grid-columns: 190px 230px 190px;
        grid-template-columns: 190px 230px 190px;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }
  .step2-circles .circle-point {
    height: 190px;
  }
  .result-container .result-text {
    position: absolute;
    width: 260px;
    left: 50%;
    bottom: 170px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  button.rules {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .rules-cont {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */