//IMPORT
//INCLUDE
//MIXIN
//VARIABLES


//Import Default files
@import './other/reset&normalize';
@import './other/blocks';
@import './colors/colors';
@import './fonts/fonts';
@import './other/circles';

//General Rules
body{
    @include flex(column,space-between); 
    padding:30px;
    height: 100vh;
    font-weight: 700;
    background: $bodyBackground;
    font-family: barlow;
    overflow: hidden;
    color:$white;
    .container{
        @include flex(column,space-between);
        width: 100%;
        height: 100%;
    }
    .displayOff{
        display: none;
    }
    .displayGrid{
        display: grid;
    }
    .displayFlex{
        display: flex;
    }
    .displayInBlock{
        display: inline-block;
    }
}

//HEADER
.info-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 470px;
    padding:10px;
    border-radius: 6px;
    border:3px solid $headerOutline;

    .info-bar__score{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 23px;
        border:1px solid #000;
        border-radius: 5px;
        background-color: $white;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.247);
        span.text{
            font-weight: 600;
            font-size: 0.65em;
            letter-spacing: 1px;
            color:$scoreText;
        }
        span.score-number{
            font-size: 2.2em;
            line-height: 90%;
            color:$darkText;
        }
    }
    .info-bar__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
        line-height: 80%;
        text-shadow: 5px 6px 2px rgba(8, 8, 8, 0.377);
    }
}


//MAIN PART
.step1-circles{
    //border:1px solid #fff;
    width: 100%;
    max-width: 310px;
    height: 100%;
    max-height: 310px;

    //Positioning inner elements
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;

    //Background Color
    @include backImg(center,no-repeat,210px);
    background-image: url(./images/bg-triangle.svg);
    .circle-point{
        &:last-of-type{
            //Wide of last circle-point should be a 2 colums
            grid-column: 1/3;
        }
    }
    .circle-point1{
            //Positioning a circle
            top:15px;
            left: 15px;
    }
    .circle-point2{
            //Positioning a circle
            top:15px;
            right: 15px;
    }
    .circle-point3{
            //Positioning a circle
            top:15px;
            left:50%;
            transform:translateX(-50%);
    }

}

.step2-circles{
    //border: 2px solid #fff;
    display: grid;
    grid-template-columns: 157.5px 0px 157px;
    row-gap: 25px;

    .circle-point{
        //border:1px solid red;
        height: 145px;
        div{
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }

    span.def-text{
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 3px 3px 3px rgb(24, 24, 24);
    }
}

//RESULT
.result-container{
    position: relative;
    .result-text{
        flex-direction: column;
        align-items: center;
        span{
            font-size: 3.5em;
            letter-spacing: 3px;
        }
        button{
            margin-top: 15px;
            width: 100%;
            height: 45px;
            border:3px solid transparent;
            border-radius: 8px;
            letter-spacing: 2px;
            color:$darkText;
            transition: 0.15s all ease-in-out;
            cursor: pointer;
            &:hover{
                border: 3px solid $scissorsBorder;
            }
        }
    }
}

//RULES(buttons and absolute div)
button.rules{
    width: 120px;
    height: 40px;
    font-weight: 600;
    background-color: transparent;
    border:2px solid $borderColorBut;
    color:$white;
    letter-spacing: 2px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    &:hover{
        border:2px solid #a1a1a3;
        background-color: rgba(255, 255, 255, 0.774);
        color:#1f3756;
    }
}
.rules-cont{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    span{
        font-size: 1.9em;
        color:$darkText
    }
    img.rules-cont-img{
        width: 300px;
    }
    img.rules-cont-close{
        width: 20px;
        cursor: pointer;
        &:hover{
            filter:contrast(4);
        }
    }
}

@media screen and (min-width:1366px) {
    //INFO BAR
    .info-bar{
        padding: 20px;
        .info-bar__score{
            padding: 16px 28px;
            span.text{
                font-size: 0.8em;
            }
            span.score-number{
                font-size: 2.4em;
            }
        }
        .info-bar__text{
            font-size: 1.7em;
        }
    }
    
    //MAIN PART
    .step1-circles{
        max-width: 400px;
        max-height: 400px;
        gap:30px;
        background-size: 270px;
    }



    .step2-circles{
        column-gap: 30px;
        grid-template-columns: 190px 230px 190px;
        transition: 0.5s all ease-in-out;
        .circle-point{
            height: 190px;
        }
    }

    //RESULT
    .result-container{
        .result-text{
            position: absolute;
            width: 260px;
            left:50%;
            bottom: 170px;
            transform: translateX(-50%);
        }
    }


    //RULES
    button.rules{
        align-self: flex-end;
    }
    .rules-cont{
        width: 400px;
        height: 500px;
        border-radius: 15px;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
}