$bodyBackground : radial-gradient(ellipse at top, #1f3756,#141539);
$white : #fdfdfd;

//Text
$headerOutline : hsl(217, 16%, 45%);
$scoreText : hsl(229, 64%, 46%);
$darkText : hsl(229, 25%, 31%);

//Circles
$circleBackground : #e2e2e2;
$circleBorder : rgb(113, 206, 27);
$circleBottomBorder: rgb(78, 122, 37);

    $scissorsGrad : linear-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
    $scissorsBorder : #eba72a;
    $scissorsBottomBorder : #c76c1b;

    $paperGrad : linear-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
    $paperBorder : #5671f6;
    $paperBottomBorder : #2845bd;

    $rockGrad : linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
    $rockBorder : #df405e;
    $rockBottomBorder : #a11738;


//Button
$borderColorBut : #878ba6;

