@mixin flex ($dir,$justify){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

@mixin backImg($position,$repeat,$size){
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}