//Stilizovanje krugova generalno

.circle-point{
    //border:1px solid rgb(71, 71, 245);
    position: relative;

    //Main rules for inner circles
    div{
        box-sizing: border-box;
        //border:1px solid yellow;
        position: absolute;
        width: 100px;
        height: 100px;
        cursor: pointer;

        //Circles border
        border-radius: 50%;
        background-color: $circleBackground;

        //Inner element
        &::after{
            content: '';
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            width: 48%;
            height: 48%;
            @include backImg(center,no-repeat,contain);
            background-size: contain;
        }
        
        //Hover
        &:hover{
            &::after{
                width: 54%;
                height: 54%;
            }
        }
    }
}

//Definisanje stila za klase koje se dodeljuju krugovima
.circle-point-paper{
    box-shadow: 0 0 0 15px $paperBorder, 0px 10px 0 10px $paperBottomBorder;
    &::after{background-image: url(./images/icon-paper.svg);}
    
}
.circle-point-scissors{
    box-shadow: 0 0 0 15px $scissorsBorder, 0px 10px 0 10px $scissorsBottomBorder;
    &::after{background-image: url(./images/icon-scissors.svg);}
}
.circle-point-rock{
    box-shadow: 0 0 0 15px $rockBorder, 0px 10px 0 10px $rockBottomBorder;
    &::after{background-image: url(./images/icon-rock.svg);}
}

@media screen and (min-width:1366px) {
    .circle-point{
        div{
            width: 135px;
            height: 135px;
        }
    }
}